
# Google Python's Class

https://developers.google.com/edu/python

Main section to look at is strings, list, sorting, dict and files

# Cheet Sheet

Python
    
https://sinxloud.com/wp-content/uploads/2018/09/81bb9282-intro-to-python-for-data-science-python-cheat-sheet-datacamp.jpg

# Content 

1. Print
2. Basic Math
3. Data Types
4. Strings
5. Types
6. Convert String Variables
7. Tuple
8. List
9. Sort List
10. Dictionary
11. Set
12. Loops
13. Control flow with Loops
14. Zip
15. Enumerate
16. List Comprehension
17. Index Slicing
18. Last Value
19. Every Other Value
20. Reverse a list
21. For loop with multiple key value pairs 
22. keys
23. Values
24. Deleting a key from the dictionary 
25.  try/except 
26. Function

# 1. Print

We need to wrap the brackets () for Python syntax

In [1]:
print('Hello World')

Hello World

# 2. Basic Math

In [2]:
# add
print(1+1)

#subtract
print(10-9)

# multiplication
print(10*8)

#division
print(100/10)

#floor 
print(107//10) # will give you 10 still 

#square
print(2**2)

# square root
print(4**.5)

#

2
1
80
10.0
10
4
2.0

# 3. Data Types

In [3]:
# string

'Hello World'

# Integer

100

# float

100.0

100.0

# 4. Strings

In [4]:
print('abbd'.upper()) # capitalize all
print('abBD'.lower()) # lower all
print('abcd'.capitalize()) # only first letter

ABBD
abbd
Abcd

# 5. Type

In [5]:
print(type('Hello Word'))

print(type(100))

print(type(100.00))

<class 'str'>
<class 'int'>
<class 'float'>

# 6. Convert String Variables

In [6]:
s = '1000'

print(int(s))

print(float(s))

1000
1000.0

# 7. Tuple

- immutable which means that it cannot be changed

In [7]:
t = (1,2,3,4,5)
t[2] = 15

# This will generate an error

TypeError: 'tuple' object does not support item assignment

# 8. List

- series of data you can add into this container
- you can add mix variables in the list as well

In [8]:
l = [1,3,4,5,'James','Eric',100.780]
l

[1, 3, 4, 5, 'James', 'Eric', 100.78]

# 9. sort list w/ sorted() command

In [23]:

print(sorted([3038,18,300,1]))

print(sorted([3038,18,300,1],reverse=True))

[1, 18, 300, 3038]
[3038, 300, 18, 1]

# 10. Dictionary

In [10]:
# keeping track of what people owe you.

d = {'John':1000}

# Accessing the Key

d['John']

1000

# Adding Mary as a key

In [11]:
d['Mary'] = 500

In [12]:
d

{'John': 1000, 'Mary': 500}

# 11. Set

In [13]:
# Set only can include unique values

set([7,7,7,7,8,9,0])

{0, 7, 8, 9}

# 12.  Loops

# For and While Loops

In [14]:
# index starts at 0 in Python
# R index starts at 1

for integer in range(10):
    print(integer)

0
1
2
3
4
5
6
7
8
9

# Backwards for loop

In [15]:
for integer in range(10,-1,-1):
    print(integer)

10
9
8
7
6
5
4
3
2
1
0

# While loop

In [17]:
count = 10
while (count > 0): # condition to break while loop 
    count -=1
    print(count)

print("Done")

9
8
7
6
5
4
3
2
1
0
Done

# 13. Control flow with Loops

# we only want values divisible by 2

In [21]:
for integer in range(10):
    if integer % 2 == 0:  # % is a modulo function
        print(integer) # print shows output, but does not save

0
2
4
6
8

# Let's save the even values in a list

In [22]:
even = []
for integer in range(10):
    if integer % 2 == 0:
        even.append(integer)
print(even)

[0, 2, 4, 6, 8]

# elif is used to seperate itself from if and else is if the variables do not meet the of the conditions above

In [24]:

numbers = [100,200,300,400,500]

for num in numbers:
    
    if num == 100:
        print("100")
    elif num == 200:
        print("200")
    elif num == 300:
        print("300")
    else:
        print ('The Rest')

100
200
300
The Rest
The Rest

# 14. Zip

looping through 2 lists of equal length at once

In [25]:
for i,j in zip(['John','Mary','Jack'],[100,500,50]):
    print(i,j)

John 100
Mary 500
Jack 50

# 15. Enumerate

during a for loop, you can get the index of the character as well

In [26]:
for index, character in enumerate("abcdefg"): 
    print(index, character)

0 a
1 b
2 c
3 d
4 e
5 f
6 g

# 16. List Comprehension

- clean one liners
- faster in memory

In [27]:
even = [integer for integer in range(10) if integer % 2 == 0]
even

[0, 2, 4, 6, 8]

# 17. Index Slicing

can treat string like a list

In [28]:
print(even[1:4])
print('asdfjkll'[1:4])

[2, 4, 6]
sdf

# 18 Last Value with [-1]

In [29]:
print(even[-1])
print('asdfjkll'[-1])

8
l

# 19. Every Other Value

In [30]:
print(even[::2])
print('asdfjkll'[::2])

[0, 4, 8]
adjl

# 20. Reverse a list

In [31]:
print(even[::-1]) 
print('asdf'[::-1]) # can also do it for a string

[8, 6, 4, 2, 0]
fdsa

# 21. For loop with multiple key value pairs 

-Dictionary Comphrehension

In [32]:
d = {i:j for i,j in zip(['John','Mary','Jack'],[100,500,50])}
d

{'John': 100, 'Mary': 500, 'Jack': 50}

# 22. keys

In [33]:
d.keys()

dict_keys(['John', 'Mary', 'Jack'])

# 23. Values

In [34]:
d.values()

dict_values([100, 500, 50])

# 24. Deleting a key from the dictionary

In [35]:
del d['Jack']

# Now Jack is removed from the dictionary

In [36]:
d

{'John': 100, 'Mary': 500}

# 25.  try/except 

- catch errors in your code

In [16]:
try:
    3 / 0
except:
    print("Error,cannot divide by zero")

Error,cannot divide by zero

# 26. Function

# we use def to create reusable code that we can call upon later

In [37]:
def sort_list(l):
    
    """Input: list of mixed variables.
    Output:  Two seperate lists of strings and integers"""
    
    integer_list = [] # start with blank list
    string_list = []
    
    for i in l:
        if type(i) == int:
            integer_list.append(i)
        else:
            string_list.append(i)
    return "Integers:",integer_list, "Strings:",string_list 
    # return ends the function

In [38]:
sort_list(['cat','dog',100,300,451])

('Integers:', [100, 300, 451], 'Strings:', ['cat', 'dog'])