In [18]:
# A good start for Python specifically for DS
# http://math.ecnu.edu.cn/~lfzhou/seminar/[Joel_Grus]_Data_Science_from_Scratch_First_Princ.pdf

# Stanford Python
# https://cs231n.github.io/python-numpy-tutorial/

# Python Slides
# http://web.stanford.edu/class/cs124/lec/cs124_python_tutorial.key.pdf

# Google Python's Class
#https://developers.google.com/edu/python

In [1]:
print('Hello World')

Hello World

# Data types

In [13]:
# string

'Hellow World'

# Integer

100

# float

100.0

100.0

In [ ]:
# Convert String Variables to Integer or float

In [17]:
s = '1000'

print(int(s))

print(float(s))

1000
1000.0

In [14]:
# https://www.tutorialspoint.com/python/python_basic_operators.htm

In [ ]:
# data containers

# Tuple , immutable which means that it cannot be changed

() 

# list , series of data you can add into this container

[]

# dictionary key/value referencing

{}

# Control Flow

In [ ]:
# index starts at 0 in Python
# R index starts at 1

for integer in range(10):
    print(integer)

In [ ]:
for integer in range(10):
    if integer % 2 == 0:
        print(integer)
    else:
        pass

In [5]:
even = []
for integer in range(10):
    if integer % 2 == 0:
        even.append(integer)
even

[0, 2, 4, 6, 8]

In [15]:

numbers = [100,200,300,400,500]

for num in numbers:
    
    if num == 100:
        print("100")
    elif num == 200:
        print("200")
    elif num == 300:
        print("300")
    else:
        print ('The Rest')

100
200
300
The Rest
The Rest

In [16]:
for i,j in zip(['John','Mary','Jack'],[100,500,50]):
    print(i,j)

John 100
Mary 500
Jack 50

# List Comprehnsion

In [6]:
even = [integer for integer in range(10) if integer % 2 == 0]
even

[0, 2, 4, 6, 8]

In [8]:
# dictionary 

# keeping track of what people owe you.

d = {'John':1000}
d['John']

1000

In [9]:
d['Mary'] = 500

In [10]:
d

{'john': 1000, 'Mary': 500}

In [11]:
d = {i:j for i,j in zip(['John','Mary','Jack'],[100,500,50])}
d

{'John': 100, 'Mary': 500, 'Jack': 50}

In [12]:
count = 10
while (count > 0): # condition to break while loop 
    count -=1
    print(count)

print("Done")

9
8
7
6
5
4
3
2
1
0
Done